<div
  id="search-box"
  class="sm:w-4/5"
  style="min-width: 198px"
>
  <form
    action="{{ '/' + $locale + '/search' }}"
    class="
      flex
      border-0 rounded-full overflow-hidden
      mt-4 px-4 sm:mt-0
      bg-white
    "
  >
    <input
      name="q"
      value="{{ get:q }}"
      type="search"
      placeholder="{{ trans:nav_search_box_placeholder }}"
      class="
        flex-1 w-0
        placeholder:text-base xl:placeholder:text-lg
        border-0 focus:ring-0
      "
    >
    <button type="submit" class="bg-white focus:ring-0">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 45 45">
        <g transform="translate(6.759 7.129)" style="isolation: isolate">
          <path d="M23.826,14.163A9.663,9.663,0,1,1,14.163,4.5a9.663,9.663,0,0,1,9.663,9.663Z" transform="translate(0 0)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
          <path d="M30.229,30.229l-5.254-5.254" transform="translate(-3.988 -3.988)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
        </g>
        <rect width="45" height="45" fill="none"/>
      </svg>
    </button>
  </form>
</div>
